footer{
    display: flex;
    padding: 25px 5px;
    text-align: center;
    justify-content: space-around;
    background-color: $footer-bgc;

    a{
        color: white;

        &:hover{
            text-decoration: underline;
        }
    }
}