body{
    width: 100%;
}

section{
    z-index: 1;
    margin: 0 auto;
    max-width: 1200px;
}

h1{
    padding: 10px;
    text-align: center;
}

li{
    margin-bottom: 5px;
}

@media all and (min-width : 950px){
        
    #lobby-intro{
        z-index: 1;
        margin: 0 auto;
        max-width: 100%;
        padding: 0px 60px 0px 60px;
    }

}