/* navigation buttons */

.nav-button{
    border-bottom: solid white;
    padding-bottom: 10px;


    &:hover{

        a{
          color: $primary-color;  
        }
        
    }
}

.active{
    border-bottom: solid $tertiary-color;;
}


/*sub navigation button*/

.btnstyle{
    margin: 15px;
    width: 300px;
    border-radius: 100px;
    background: $button-color;
    color: white;
    padding: 15px 25px;
    border-style: hidden;
    cursor: pointer;
    box-shadow: -6px 6px 13px 0px rgba(0, 0, 0, 0.247);
    position: relative;
    z-index: 1;

    &:hover{
        box-shadow: -6px 6px 6px 0px rgba(0, 0, 0, 0.247);
        & .btn-hover{
            opacity: 1;
        }
    }

    .btn-hover{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $lightened-button-color;
        border-radius: 100px;
        opacity: 0;
        z-index: -1;
        transition: opacity 200ms;
    }
}

/* RDV buttons */

.btnstyle-copy{
    margin:15px;
    width: 200px;
    border-radius: 100px;
    background: $rdv-button-color;
    color: #fff;
    padding: 5px 10px;
    border-style: hidden;
    cursor: pointer;
    box-shadow: -6px 6px 13px 0px rgba(0, 0, 0, 0.247);
    position: relative;
    z-index: 1;
    align-self: center;

    &:hover{
        box-shadow: -6px 6px 6px 0px rgba(0, 0, 0, 0.247);
        & .btn-hover{
            opacity: 1;
        }
    }

    .btn-hover{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $active-rdv-button-color;
        border-radius: 100px;
        opacity: 0;
        z-index: -1;
        transition: opacity 200ms;
    }
}

@media all and (min-width : 950px){

    .btnstyle{
        width: 400px;
    }
}